:root {
  --main-font: 'Roboto';
  --second-font: 'Raleway';
  --main-color-text: #212121;
  --second-color-text: #757575;
  --accent-color: #2196f3;
  --accent-second-color: #188ce8;
  --primary-bgr: #ffffff;
  --second-bgr: #f5f4fa;
  --accent-bgr: #2f303a;
  --sec-text-color: var(--primary-bgr);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
