.contact-info {
  font-style: normal;
  color: var(--primary-bgr);

  &__wrapper {
    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }

  &__link {
    display: inline-block;
    transition: color 250ms var(--timing-function);

    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-bgr);
    &--contact {
      margin-top: 9px;
      color: rgba(255, 255, 255, 0.6);
      transition: color 250ms var(--timing-function);
    }
    &--contact:hover,
    &--contact:focus {
      color: var(--accent-color);
    }
  }
}
