.features {
  padding-bottom: 0px;
  color: var(--main-color-text);

  &__title {
    margin-bottom: 10px;
    font-size: inherit;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__bgc-icon {
    @extend %flex-center;
    height: 120px;
    background-color: var(--second-bgr);
    border-radius: 4px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    &__item {
      width: calc((100% - 60px) / 2);
      margin: 15px;
    }

    &__title {
      text-align: left;
    }
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 0;

    &__item {
      width: calc((100% - 120px) / 4);
    }
  }
}
