.features {
  color: var(--main-color-text);

  &__title {
    margin-bottom: 10px;
    font-size: inherit;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    &--invisible {
      visibility: hidden;
      height: 0;
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__bgc-icon {
    @extend %flex-center;
    height: 120px;
    background-color: var(--second-bgr);
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-text);
  }
  &__meta {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--second-color-text);
  }
  @media screen and (min-width: 768px) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    &__item {
      width: calc((100% - 60px) / 2);
      margin: 15px;
    }

    &__subtitle {
      text-align: left;
    }
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 0;

    &__item {
      width: calc((100% - 120px) / 4);
    }
  }
}
