.footer {
  padding: 60px 0 60px 0;
  background-color: var(--accent-bgr);

  &__container {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }

  &__logo {
    display: inline-block;
    padding-bottom: 20px;
    &--accent {
      color: #ffffff;
    }
  }

  @media screen and (min-width: 768px) {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  @media screen and (min-width: 1200px) {
    &__container {
      justify-content: normal;
    }
  }
}

/* footer social link */

.footer__social {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 12px;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--primary-bgr);
}

.companysocial {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    @extend %flex-center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
    &:hover .icon,
    &:focus .icon {
      fill: var(--primary-bgr);
    }
  }

  &__icon {
    fill: var(--primary-bgr);
  }
}
/* footer-form subscribers */
.subscriber-form {
  & __field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__input {
    width: 100%;
    padding: 15px 16px 15px 16px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: inherit;
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
    cursor: pointer;
    &t:focus,
    &:hover {
      border: 1px solid var(--accent-color);
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 1.25;
    }

    @media screen and (min-width: 768px) {
      width: 450px;
    }

    @media screen and (max-width: 1199px) {
      margin-bottom: 20px;
    }
  }

  &__button {
    @extend %flex-center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--accent-color);
    padding: 10px 28px;
    color: var(--sec-text-color);
    transition: background-color 250ms var(--timing-function) box-shadow 250ms
      var(--timing-function);
    &:hover,
    &:focus {
      background-color: var(--accent-second-color);
    }
  }

  &__icon {
    margin-left: 10px;
    fill: var(--primary-bgr);
  }

  @media screen and (min-width: 1200px) {
    &__field {
      flex-direction: row;
      justify-content: normal;
    }

    &__input {
      width: 358px;
      margin-right: 12px;
    }
  }
}
