.header {
  border-bottom: 1px solid #ececec;
  &__container {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &__button {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;

    border: none;
    padding: 0;
    background: transparent;

    &--is-open .header__icon-menu {
      display: none;
    }

    &--is-open .header__icon-cross {
      display: block;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__icon {
    color: var(--main-color-text);

    &:hover {
      color: var(--accent-color);
    }
  }

  &__icon-cross {
    display: none;
  }
}
