.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img@1.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img@2.jpg);
    }
  }

  @media screen and (max-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img-tablet@1.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img-tablet@2.jpg);
    }
  }

  @media screen and (max-width: 480px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img-mobile@1.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img-mobile@2.jpg);
    }
  }

  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--sec-text-color);

    @media screen and (min-width: 480px) {
      width: 360px;
    }

    @media screen and (min-width: 1200px) {
      width: 696px;

      font-size: 44px;
    }
  }
  &__btn {
    padding: 10px 32px;
    color: var(--sec-text-color);
    background-color: var(--accent-color);
    &:hover,
    &:focus {
      background-color: var(--accent-second-color);
    }
  }
}
