.portfolio__title {
  margin-bottom: 0;
  &--invisible {
    visibility: hidden;
    height: 0;
  }
}

.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  &__item {
    margin-bottom: 15px;
    margin-right: 15px;
  }

  &__item:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }

  &__item:nth-child(2n) {
    margin-right: 0;
  }

  &__link {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    color: var(--main-color-text);
    background-color: var(--second-bgr);
    transition: background-color 250ms var(--timing-function);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--sec-text-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
    &--active {
      background-color: var(--accent-color);
      color: var(--sec-text-color);
    }
  }

  @media screen and (min-width: 384px) {
    &__item:nth-child(2n) {
      margin-right: 8px;
    }

    &__item:nth-child(3n) {
      margin-right: 0;
    }

    &__item:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;

    &__item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.portfolio-galery {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &__item {
    transition: background-color 250ms var(--timing-function);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.08),
        0px 2px 1px rgba(0, 0, 0, 0.12);
    }
    &:hover .galery-thumb__overlay {
      transform: translateY(0);
      opacity: 1;
    }
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      width: calc((100% - 60px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 3);
    }
  }
}

.galery-thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.galery-thumb {
  position: relative;
  overflow: hidden;
  &:hover::before {
    opacity: 1;
  }
}

.galery-thumb__description {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--sec-text-color);
}

.galery-thumb__content {
  padding: 20px 24px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #eeeeee;
}

.galery-thumb__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-color-text);
}

.galery-thumb__subtitle {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}
