.teams {
    text-align: center;
    color: var(--main-color-text);
    background-color: var(--second-bgr);
}

.teams__title {
    color: var(--main-color-text);
    margin-bottom: 50px;
}

.teams__list {
    display: flex;
}

.team__card {
    width: calc(100% - 90px / 4);
    background-color: var(--primary-bgr);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.teams__list>.team__card:not(:nth-child(4n)) {
    margin-right: 30px;
}

.team__meta {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
}

.team__position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
}

.team__social-list {
    display: flex;
    justify-content: center;
}

.team__social-list>.team__social-item:not(:last-child) {
    margin-right: 10px;
}

.team__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-bgr);
    transition: background-color 250ms var(--timing-function);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
    &:hover .team__social-icon,
    &:focus .team__social-icon {
        fill: #ffffff;
    }
}

.team__social-icon {
    fill: #afb1b8;
}